asyncgui==0.6.1
asynckivy==0.6.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
docutils==0.21.2
Faker==25.0.1
idna==3.7
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd==1.2.0
materialyoucolor==2.0.9
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.3.0
Pygments==2.17.2
pypng==0.20220715.0
python-dateutil==2.9.0.post0
pyzbar==0.1.9
qrcode==7.4.2
reportlab==4.2.0
requests==2.31.0
six==1.16.0
typing_extensions==4.11.0
urllib3==2.2.1
